<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIView层级关系.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0995A5E1F42D1AD00B29993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0995A771F42D1AD00B29993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0995A821F42D1AD00B29993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
